<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gudea"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

<style type="text/css">
body {
    background: url(<%= image_path('http://i577.photobucket.com/albums/ss217/Jaceslover17/stock-vector-modern-sexy-repeat-wallpaper-background-image-in-black-and-white-15990283.jpg') %>) top repeat-x #cfcfcf;
}
</style>


<div style="color:#fff;font-family: gudea">
    <h1>Welcome to Make My NEWS <%= @user_name %>
    </h1>
    <p>
      <%=Time.now%><br/>
    </p>
    <p>
      To login to the site, just follow this link: <a href="http://fierce-sunset-8159.herokuapp.com">Click here</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
</div>
  </body>
</html>