<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gudea"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

<style type="text/css">
body {
    background: url(<%= image_path('http://makemynews.herokuapp.com/assets/web/bg.jpg') %>) top repeat-x #000;
    color:black;
}
</style>


<div style="background-color:#5AC ;color:#000;font-family:gudea;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;height: 400px;width: 400px;padding: 10px;">
    <h1>Welcome to Make My NEWS <%= @user_name %>
    </h1>

    <p>
      To login to the site, just follow this link: <a href="http://makemynews.herokuapp.com/">Click here</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
</div>
  </body>
</html>