      
      <div class="photoSet clearfix">
        <div class="introPhotoBlock">
          <img alt="" src="/assets/web/Header_1.jpg" width="236" height="205"/>
        </div>

        <div class="introPhotoBlock">
          <img alt="" src="/assets/web/Header_2.jpg" width="236" height="205"/>
        </div>
        <div class="introPhotoBlock">
          <img alt="" src="/assets/web/header_3.jpg" width="236" height="206"/>
        </div>
        <div class="introPhotoBlock">
          <img alt="" src="/assets/web/header_4.jpg" width="235" height="205" />
        </div>
        <div class="introPhotoBlock">
          <img alt="" src="/assets/web/Header_5.jpg" width="236" height="185" />
        </div>
        <div class="introPhotoBlock">
          <img alt="" src="/assets/web/Header_6.jpg" width="236" height="185" />
        </div>
        <div class="introPhotoBlock">
          <img alt="" src="/assets/web/Header_7.jpg" width="237" height="185" />
        </div>
        <div class="introPhotoBlock">
          <img alt="" src="/assets/web/Header_8.jpg" width="235" height="185" />
        </div>



      </div>

            <div style="clear:both;"></div>

      <div style="background-image:url(/assets/web/line.jpg); background-repeat:repeat-x; height:1px; width:943px;"></div>
      <div class="middle-container">
        <div class="left_box">
          <h2>News Link</h2>
          <ul class="aro">
            <li>News Link One</li>
            <li>News Link two</li>
            <li>News Link Three</li>
          </ul>

        </div>
        <div class="left_box">
          <h2>Top Ten News</h2>
          <ul class="aro">
            <li>News will come here</li>
            <li>News will come here</li>
            <li>News will come here</li>
          </ul>

        </div>

        <div class="left_box_2">
          <%= render :partial => "/sessions/manager" %>
        </div>

        <div style="clear:both;"></div>

        <div style="background-image:url(/assets/web/line.jpg); background-repeat:repeat-x; height:1px; width:943px; margin-top:20px;"></div>


        <div class="sign-up" id="sign-up" style="display:none;">
          <%=render :partial => "/sessions/sign_up"%>
        </div>


        <div class="left_box_3">
          <h1></h1>

        </div>

      </div>
      