<div style="background-image:url(/assets/web/line.jpg); background-repeat:repeat-x; height:1px; width:943px;"></div>
<div class="middle-container">


	 <div class="left_box_4">
	 <br/>
	   <img alt="" src="/assets/web/latest-o.jpg" />
	  <img alt="" src="/assets/web/top10.jpg"/>
	  <img alt="" src="/assets/web/sports.jpg"/>
	  <img alt="" src="/assets/web/Entertainment.jpg"/>

          <ul class="aro">
          <%@news.each do |news|%>
            <li><%= link_to news.headline, news_path(news) %></li>
          <%end%>
	  </ul>
	  </div>

          <% if(!signed_in?) %>
	  <div class="left_box_2 h1">
            <%= render :partial => 'sessions/login' %>
	  </div>
          <%end%>
	  <div>
	  <div style="clear:both;"></div>

          

	 </div>
	 <div style="clear:both;"></div>
</div>
<div style="background-image:url(/assets/web/line.jpg); background-repeat:repeat-x; height:1px; width:943px; padding-bottom:20px;"></div>

