/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body{
    margin:0px;
    padding:0px;
    background-image:url(/assets/web/bg.jpg);
    background-repeat:repeat;
    background-color:#4E4E4E;
    font-family:'Helvetica',sans-serif;
    color:#FFFFFF;
}

h2{
    font-family: 'Helvetica', Arial, sans-serif;
    font-size:22px;
    color:#FFFFFF;
    font-weight:normal;
    text-shadow:2px 2px #2b2b2b;
}

.container_12, .container_16 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}



.clearfix:after {
    clear: both;
}



.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}


.clearfix:after {
    clear: both;
}


.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}


.clearfix {
}

.introPhotoBlock {
    color: #040303;
    float: left;
    height: 205px;
    width: 236px;
}

.yellow {
    background-color: #EDA918;
}

.introPhotoBlock {
    color: #040303;
    float: left;
    height: 205px;
    width: 236px;
}

.logo{
    float:left;
    width:230px;
}

#navigation {
    float:right;
    margin-top:44px; /*74px;*/
    margin-right:17px;
    font-family:'Helvetica',sans-serif;
}

#navigation a { font-size:16px; text-decoration:none; color:#FFF; margin-left:20px; padding:5px 5px; }

#navigation a.active { color:#ffffff; padding:5px 5px; }

#navigation a:hover { color:#ffffff; padding:5px 5px; }

/*#signupnav { position:absolute; right:90px; top:40px; width:500px; height:30px; color:#ffffff; line-height:24px; text-align:right; font-size:14px; }

#signupnav a { color:#ffffff;  }*/


#navigation ul li {
    display:inline;

}

#navigation a:hover {
    color: #FFF;
    padding:5px 5px;
    background-color:#01a4d3;
    font-size: 16px;
    margin-left: 20px;
    text-decoration: none;
}

#navigation a.active {
    color: #FFF;
    padding:5px 5px;
    background-color:#01a4d3;
    font-size: 16px;
    margin-left: 20px;
    text-decoration: none;
}



.middle-container{
    margin-bottom:20px;
    min-height: 450px;
}

.left_box{
    width:310px;
    float:left;
}

.left_box_2{
    width:340px;
    float:left;
    font-size:12px;
}

.left_box_3{
    width:600px;
    float:left;
}
.left_box_3 h1{
    font-size:28px;
    float:right;
}

.right_box_2{
    float: right;
    font-size: 16px;
    margin-top: 30px;
}

.right_box_2 a{
    color: #fff;
    /*background-image: url() */
}

ul{
    margin:0px;
    padding:0px;
}

ul.aro{
    list-style-image:url(/assets/web/aro.jpg);
    color:#FFFFFF;
    font-size:16px;
    margin-left:30px;
}

ul.aro a{
    text-decoration: none;
    color: #fff;
}

input[type='email'], input[type='text'], input[type='password'], textarea {
    border-style: solid;
    border-width: 1px;
    float: left;
    font: 100%/1.5em helvetica neue,helvetica,arial,sans-serif;
    padding: 5px;
    width: 200px;
}


input.field {
    background: url("/assets/web/forms/search.png") no-repeat scroll 6px 6px #FAFAFA;
}


input[type='email'], input[type='text'], input[type='password'], textarea {
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: #AFB6A2 #EBF2DD #EBF2DD #AFB6A2;
    border-width: 1px;
}


.round, .item .thumb a, textarea, input, .users_accounts strong a, .tabs li, .data_user li, img.photo {
    border-radius: 5px 5px 5px 5px;
}

.input_left{
    float:left;
    width:100px;
}
.input_right{
    float:left;
    width:200px;
}

.footer{
    font-size:12px;
    background-color:#000000;
    height:50px;
    padding:20px 170px 20px 150px;
    color:#FFFFFF;
}


/*-----------------------for new styles----------------------*/
.buttons{
    height:29px;
    width:84px;
    border:none;
    margin-left:100px;
    float: left;
}

.links {
    color: #ffffff;
    float: left;
    font-size: 14px;
    margin: 8px 0 0 20px;
    text-decoration: none;
}

.alert{
    float: left;
    font-family: arial;
    font-size: 16px;
    margin-top: 70px;
    text-align: center;
    width: 300px;
}

.alert-success{
    color: green
}

.alert-danger{
    color:red;
}

.session-secion, .session-secion a{
    font-size: 11px !important;
    height: 30px;
    text-align: right;
}

.clear-both{
    clear:both;
    margin-bottom:10px;
}

.forms input, .forms textarea{
    width:750px;
    line-height:15px;
}

.select{
    font-size: 16px;
    height: 30px;
    width: 150px;
}